.next-link,
.number-link,
.previous-link {
  color: rgb(246, 36, 71);
  background-color: transparent;
  border: none;

}

.page-link.active {
  background-color: rgb(246, 36, 71);
  color: white;
  border: none;
}

.next-link:hover,
.number-link:hover,
.previous-link:hover {
  background-color: white;
  color: rgb(246, 36, 71);
  font-weight: 600;
}
