.register-form {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
  padding: 1% 5%;
  font-family: Arial, Helvetica, sans-serif;
}

.register-text {
    color: white;
}

.register-input {
    width: 100%;
}

