.weather {
  box-shadow: 1px 1px 15px black;
  text-align: center;
}

.card-title {
     color: rgb(6, 3, 86);
}

.card-subtitle {
  padding: 5% 0;
  color: rgb(58, 35, 173);
  font-size: 1.2rem;
}

.card-link {
  color: rgb(61, 23, 78);
  font-size: 1.1rem;
  font-weight: 600;
}
