.gallery-title {
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  font-size: 3rem;
  color: white;
  padding: 3% 0;
}

.gallery-description {
  height: 82vh;
}

.gallery {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding-top: 2%;
}

.gallery > img {
  width: 100%;
  height: 100%;
}

.gallery-text {
  font-weight: 400;
  color: white;
  text-align: center;
  width: 60%;
  padding-top: 3%;
  margin: 0 auto;
  font-size: 1.3rem;
}


.gallery-text span {
  font-weight: 600;
  color: rgb(246, 36, 71);
  padding-top: 2%;
}