.gallery-title {
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  font-size: 3rem;
  color: white;
  padding: 3% 0;
}

.gallery-description {
  height: 82vh;
}

.gallery {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 300px);
  gap: 20px;
}

.gallery > img {
  width: 100%;
  height: 100%;
}