.header-logo {
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.header-logo > span {
  color: rgb(246, 36, 71);
}
