.desktop-menu-link  {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    padding-right: 10px;
    font-size: 1.2rem;
    scroll-behavior: smooth;
}

.desktop-menu-link:hover {
    color: rgb(246, 36, 71);
}

