@import 'reset.css';
@import 'bootstrap';

.image-fit {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.main-layout {
  display: grid;
  grid-template-rows: max-content 1fr 60px;
  min-height: calc(100vh - 60px);
}

body {
  background-color: rgb(35, 34, 34);
}

about-page {
  height: 82vh;
  display: block;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(41, 40, 40, 0.733), rgba(0, 0, 0, 0.295)),
    url('./assets/images/header1.jpg');
  background-size: cover;
  background-position: center;
}

gallery-page {
  display: block;
  height: 82vh;
}

admin-page {
  display: block;
  height: 80vh;
}

final-page {
  display: block;
  height: 82vh;
}

sign-in-page {
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(41, 40, 40, 0.925), rgba(0, 0, 0, 0.558)),
    url('./assets/images/signIn.jpg');
  display: block;
  padding-top: 3%;
  height: 82vh;
  background-size: cover;
  background-position: center;
}

sign-up-page {
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(41, 40, 40, 0.925), rgba(0, 0, 0, 0.558)),
    url('./assets/images/signIn.jpg');
  display: block;
  height: 82vh;
  padding-top: 3%;
  background-size: cover;
  background-position: center;
  // padding-bottom: 3%;
}

service-page {
  height: 82vh;
}
